{% extends "base.twig" %} 

{% block title %}
    A Propos    
{% endblock %}

{% block nav1 %}
<a href="#">
    <img src="images/img_menu/france.jpeg" alt="Langue 1">
</a>
{% endblock %}
{% block nav2 %}
    <a href="#">
        <img src="images/img_menu/italie.jpeg" alt="Langue 2">
    </a>
{% endblock %}


{% block main %}
    <!-- Main -->
    <h1>
        A PROPOS :
            
    </h1>
    <div class="apropos">
        <!-- Bloc1 -->
        <div class="apropos1">
            <h2>
                Histoire
                            
            </h2>
            <p>
                Delizioso est né de notre amour pour la pâtisserie. Depuis notre enfance, nous avons été fascinés par la création de délicieux desserts. Chaque gâteau, chaque biscuit, chaque tarte est une œuvre d'art comestible. Nous voulons que notre blog soit un lieu de partage et d'inspiration pour tous ceux qui partagent notre amour pour les gâteaux.
                                Ici, vous trouverez nos recettes préférées et nos astuces de cuisine. Que vous soyez un chef professionnel ou un amateur passionné, vous trouverez sur notre blog des recettes et des conseils adaptés à tous les niveaux de compétence.
                                Nous espérons que vous apprécierez votre visite sur notre blog et que vous y trouverez l'inspiration et les ressources nécessaires pour réaliser vos propres créations sucrées.
                            
            </p>
        </div>
        <!-- Bloc2 -->
        <div class="apropos2">
            <h2>
                Conditions Générales d'Utilisation
                            
            </h2>
            <h3>
                Date de dernière mise à jour : 10/02/2024
                            
            </h3>
            <p>
                Veuillez lire attentivement ces CGU avant d'utiliser le site de gâteaux de Delizioso. En accédant au site ou en l'utilisant de quelque manière que ce soit, vous acceptez d'être lié par ces CGU. Si vous n'acceptez pas toutes les conditions et modalités de ces CGU, veuillez ne pas accéder au site Delizioso.
                            
            </p>
            <h4>
                1. Utilisation du site
                            
            </h4>
            <p>
                1.1. Vous acceptez d'utiliser le site Delizioso uniquement à des fins légales et conformément à ces CGU.
                            
            </p>
            <p>
                1.2. Le site de Delizioso est un espace dédié à la pâtisserie, comprenant des recettes, des vidéos, des présentations de gâteaux, ainsi que des articles sur l'histoire de la pâtisserie. Des images sont également présentes pour illustrer les articles et les recettes.
                            
            </p>
            <p>
                1.3. Le site s'adresse à tous les passionnés de pâtisserie, qu'ils soient petits ou grands, et est ouvert à toute personne souhaitant découvrir ou partager des connaissances sur ce sujet.
                            
            </p>
            <h4>
                2. Contenu du site
                            
            </h4>
            <p>
                2.1. Tout le contenu présenté sur le site est la propriété exclusive du gérant du site web Delizioso, sauf indication contraire.
                            
            </p>
            <p>
                2.2. Vous pouvez partager le contenu du site sur les réseaux sociaux : seulement Instagram et Pinterest à condition de citer la source et de ne modifier en aucun cas le contenu.
                            
            </p>
            <h4>
                3. Confidentialité
                            
            </h4>
            <p>
                3.1. Delizioso respecte la confidentialité de vos informations personnelles conformément à sa Politique de Confidentialité, disponible sur le site.
                            
            </p>
            <h4>
                4. Limitation de Responsabilité
                            
            </h4>
            <p>
                4.1. Delizioso ne peut garantir que le site sera toujours disponible ou exempt de défauts.
                            
            </p>
            <h4>
                5. Modifications des CGU
                            
            </h4>
            <p>
                5.1. Delizioso se réserve le droit de modifier ces CGU à tout moment. Les modifications prendront effet dès leur publication sur le site.
                            
            </p>
            <h4>
                6. Loi Applicable et Juridiction
                            
            </h4>
            <p>
                6.1. Ces CGU sont régies par les lois en vigueur dans l'Union Européenne. Tout litige découlant de ces CGU sera soumis à la compétence exclusive des tribunaux de Lyon. En utilisant le site, vous acceptez d'être lié par ces CGU. Si vous avez des questions concernant ces CGU, veuillez nous contacter au 07 82 50 10 00.
                            
            </p>
        </div>
    </div>
{% endblock main %}

